{%- include flatten-menu.html menu=site.data.menu baseurl="" -%}

{%- for menu_page in menu_pages -%}
  {%- if page.url == menu_page.url -%}
    {%- assign i_menu_page = forloop.index0 -%}
  {%- endif -%}
{%- endfor -%}

{%- if i_menu_page -%}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {%- assign i_prev = i_menu_page | minus: 1 -%}
  {%- if i_prev >= 0 -%}
    {%- assign prev = menu_pages[i_prev] -%}
    {%- if prev.url -%}
      <a href="{{ site.baseurl }}{{ prev.url }}" class="pagination-previous" aria-label="Previous page" title="{{ prev.title | markdownify | strip_html }}">Previous page</a>
    {%- else -%}
      <a href="#" class="pagination-previous" aria-label="Previous page" disabled>Previous page</a>
    {%- endif -%}
  {%- else -%}
      <a href="#" class="pagination-previous" aria-label="Previous page" disabled>Previous page</a>
  {%- endif -%}
  {%- assign i_next = i_menu_page | plus: 1 -%}
  {%- if i_next < menu_pages.size -%}
    {%- assign next = menu_pages[i_next] -%}
    {%- if next.url -%}
      <a href="{{ site.baseurl }}{{ next.url }}" class="pagination-next" aria-label="Next page" title="{{ next.title | markdownify | strip_html }}">Next page</a>
    {%- else -%}
      <a href="#" class="pagination-next" aria-label="Next page" disabled>Next page</a>
    {%- endif -%}
  {%- else -%}
      <a href="#" class="pagination-next" aria-label="Next page" disabled>Next page</a>
  {%- endif -%}
</nav>
{%- endif -%}
