{%- assign sorted = (site.people | sort: 'lastname') -%}
{%- for member in sorted -%}
{%- if member.group == include.groups -%}
<div class="bio">
  <details>
    <summary>{{ member.name }}</summary>

    {% assign img_path = '/images/people/' | append: member.path | replace: '_people/', '' | replace: 'markdown', 'jpg' %}
    {% assign file_exists = site.static_files | where: "path", img_path %}
    {% if file_exists.size == 0 %}
      {% assign img_path = '/images/people/placeholder.jpg' %}
    {% endif %}
    <img class="member_photo" src="{{ site.baseurl }}{{ img_path }}" alt="{{ member.name }}" />

    {%- if member.affiliations -%}
    {%- assign affils = member.affiliations -%}
    {%- else -%} {% comment %} stuff data into affils[0] {% endcomment %}
    {%- assign affils = "" | split: "," | push: member -%}
    {%- endif -%}

    {%- for affil in affils -%}
    {%- if affil.position -%}
    <h3 class="position">{{ affil.position }}</h3>
    {%- endif -%}

    <div class="contact-info">
        {%- if affil.address -%}
        <div class="address"><i class="fa-solid fa-location-dot"></i> {{ affil.address }}</div>
        {%- endif -%}
        {%- if affil.institution -%}
        <div class="address"><i class="fa-solid fa-building-columns"></i> {{ affil.institution }}</div>
        {%- endif -%}
        {%- if affil.email -%}
        <div class="email"><i class="fa-solid fa-envelope"></i>
        <a href="mailto:{{ affil.email }}">{{ affil.email }}</a></div>
        {%- endif -%}
        {%- if affil.website -%}
        <div class="website"><i class="fa-solid fa-house"></i>
        <a href="{{ affil.website }}">{{ affil.website }}</a></div>
        {%- endif -%}
        {%- if affil.phone -%}
        <div class="phone"><i class="fa-solid fa-phone"></i> {{ affil.phone }}</div>
        {%- endif -%}
    </div>
    {%- endfor -%}

    {%- if member.advisor -%}
    <div class="advisor">Advisor: {{ member.advisor }}</div>
    {%- endif -%}

    {%- if member.specialties -%}
    <h5 class="specialties">Specialty areas</h5>
    {{ member.specialties }}
    {%- endif -%}

    {{ member.content }}
  </details>
</div>
<div style="clear:both;"></div>
{%- endif -%}
{%- endfor -%}
