@charset "utf-8";

.breadcrumb {
    font-size: 90%;
}

.breadcrumb a[disabled] {
    cursor: default;
    pointer-events: none;
    color: inherit;
}

main.article {
    padding: 0 12px;
}

article {
    //// Default to centering these things; note that kramdown allows you to append attribute lists:
    //// https://kramdown.gettalong.org/syntax.html#inline-attribute-lists
    img, iframe {
        display: block;
        margin: 10px auto;
    }

    header {
        background: initial;
    }

    h1 {
        font-size: 36px;
        color: $terracotta;
        text-shadow: $brownishgrey 0px 1px 0;
        .post-subtitle {
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            font-size: 25px;
            font-weight: 700;
            color: $purplebrown;
        }
    }

    h2 {
        margin-top: 1rem;
        font-size: 25px;
        font-weight: 700;
        color: $purplebrown;
    }

    h3 {
        font-size: 20px;
        font-style: italic;
        font-weight: 700;
        color: $bluegreen;
    }

    p {
        margin: 1rem 0;
    }

    ol, ul {
        padding-left: 20px;
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }

    figure {
        &.small-right {
            float: right;
            margin-left: 10px;
            figcaption {
                display: none;
            }
            img {
                width: 158px;
                height: 158px;
            }
        }
        &.right {
            width: calc(50% - 20px);
            float: right;
            margin-left: 20px;
        }
        &.left {
            width: calc(50% - 20px);
            float: left;
            margin-right: 20px;
        }
        &.right-third {
            width: calc(33% - 20px);
            float: right;
            margin-left: 20px;
        }
        &.left-third {
            width: calc(third% - 20px);
            float: left;
            margin-right: 20px;
        }
        &.right-quarter {
            width: calc(25% - 20px);
            float: right;
            margin-left: 20px;
        }
        &.left-quarter {
            width: calc(25% - 20px);
            float: left;
            margin-right: 20px;
        }
        &.captionless {
            figcaption {display: none;}
        }
        img {
            margin: 5px 0 10px 0;
            padding: 4px;
            background-color: #fff;
            border: #ddd solid 1px!important;
        }
        figcaption {
            margin: 0;
            font-size: 81%;
            line-height: 123%;
        }
    }

    // This is for an aside subsidiary to (and specifically *within*) `article`
    aside {
        width: 35%;
        float: right;
        margin: 5px 0 15px 15px;
        padding: 20px 15px 10px;
        font-size: 81%;
        line-height: 162%;
        background: $palepeach;
        border: $lightgrey solid 3px;
        border-radius: 12px;
        p {
            margin: 0 0 1rem 0;
        }
    }

    .equation {
        text-align: center !important;
    }

}


// This is for the sidebar — an aside subsidiary to `main`, but coequal to `article`
aside {
    h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    blockquote {
        padding-left: 25px;
        font-family: Georgia,'Times New Roman',serif;
        font-style: italic;
        font-size: 17px;

        &::before {  /* Open Quote Mark */
            content: "“ ";
	    font-family: Oswald, Helvetica, arial, sans-serif;
            font-size: 50px;
            font-weight: bold;
            line-height: 20px;
            color: $terracotta;
            position: absolute;
            top: 12px;
            left: 0px;
	    font-style: normal;
        }

        &::after {  /* Close Quote Mark */
            content: " ”";
	    font-family: Oswald, Helvetica, arial, sans-serif;
            font-size: 50px;
            font-weight: bold;
            line-height: 20px;
            color: $terracotta;
            position: absolute;
            bottom: -2px;
	    font-style: normal;
        }
    }

    .sidebar-quote-attribution {
        text-align: right;
        font-size: 90%;
    }
}

.MTW-box {
    background-color: lighten($offwhite, 10%);
    padding: 24px;
    border-radius: 12px;
    border: $lightgrey solid 3px;
}

blockquote {
    max-width: 360px;
    margin-left: 20px;
    .quote {
        background: lighten($offwhite, 10%);
        font-family: Georgia,'Times New Roman',serif;
        font-style: italic;
        font-size: 120%;
        padding: 15px 20px 3px;
        border-radius: 10px;
    }
    .quote:after {
        content:'';
        display: block;
        position: relative;
        bottom: -15px;
        left: 280px;
        width: 0px;
        height: 0px;
        border-width: 12px 12px 0px;
        border-style: solid;
        border-color: lighten($offwhite, 10%) transparent;
    }
    .source {
        text-align: right;
    }
}

table.data {margin:0 auto 20px;}
.data thead {background: lighten($bluegreen, 10%); color: white;}
.data th {padding:4px 10px;
          background: lighten($bluegreen, 10%); color: white;
          text-align: center;}
.data td {background: lighten($offwhite, 10%); padding:4px 12px;}
.data tr {border-top: lighten($bluegreen, 10%) solid 1px;}

.animated {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-delay:.5s;
    -webkit-animation-delay:.5s;
}

@keyframes fadeInDown {
    0% {opacity:0; transform:translateY(-20px);}
    100% {opacity:1; transform:translateY(0);}
}

.fadeInDown {
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown;
}

ol.submenu-listing {
    list-style-position: initial;
    li.submenu-entry {
        padding: 10px;
        font-weight: bold;
        list-style-type: none;
        a.submenu-entry-link {
            color: $purplebrown;
          }
    }

    li.submenu-entry:nth-of-type(odd) {
        background-color: $palegrey;
    }

    li.submenu-entry:hover {
        background-color: lighten($palegrey, 10%);
    }
}

// For styling the icons on the pages /the-science/ and /explore/

.iconlink {clear:both;}
.iconlink img {
    @include desktop {
        float:left; margin:0 20px 40px 0;
         display:block;
    }
    opacity:1;
    @include touch {
        float: none !important;
        margin: 0 auto !important;
    }
}
.iconlink img:hover {opacity:0.7; transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -webkit-transition:all .5s ease-in-out;}
.icontext {
    @include desktop {
        float:left;
    }
    @include touch {
        float: none !important;
        text-align: center !important;
    }
}
.iconlink h3 {position:relative; top:20px; margin-bottom:30px;}

.iconlink.science img {border-radius:50%; width:160px; height:160px; border:6px solid $lightgrey; display:block;}
.iconlink.science h3 {
    @include desktop { top:56px; }
    @include touch { top:10px !important; }
}
.iconlink.science p {
    position:relative;
    @include desktop { top:32px; }
    @include touch { top: 0 !important; margin-bottom: 50px !important; }
}

@include touch {
    .icontext p {margin-bottom: 50px !important;}
}

.custom4areas- img {
    border-radius:50%;
    @include desktop { margin:0 8px 12px 0; }
    @include touch { margin: 0 40px 12px 0 !important; }
    width:100px;
    height:100px;
    border:4px solid $lightgrey;
    opacity:1;
}
.custom4areas- img:hover {opacity:.7; transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -webkit-transition:all .5s ease-in-out;}
